In [1]:
import pandas as pd
import seaborn as sns
from scipy import stats
import numpy as np
import matplotlib.pyplot as plt

# SOAL DISKUSI

In [33]:
data = {
    'NO': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20],
    'MANUAL_TWK': [58, 49, 83, 55, 85, 90, 42, 85, 80, 89, 40, 71, 81, 40, 80, 75, 41, 54, 48, 69],
    'MANUAL_TIU': [84, 60, 69, 60, 89, 68, 36, 57, 46, 51, 65, 64, 82, 50, 77, 35, 55, 61, 50, 43],
    'CAT_TWK': [54, 76, 55, 79, 84, 60, 73, 81, 65, 54, 67, 51, 56, 50, 58, 82, 61, 60, 45, 80],
    'CAT_TIU': [77, 58, 58, 63, 37, 45, 60, 56, 80, 42, 42, 64, 62, 41, 43, 46, 48, 43, 56, 38]
}

df = pd.DataFrame(data)

In [42]:
df['selisih_twk'] = df['MANUAL_TWK'] - df['CAT_TWK']
df['selisih_tiu'] =  df['MANUAL_TIU'] - df['CAT_TIU']
df['mean_selisih_twk'] = df['selisih_twk'].mean()
df['mean_selisih_tiu'] = df['selisih_tiu'].mean()
df['sd11']=(df['selisih_twk']-df['mean_selisih_twk'])**2
df['sd22']=(df['selisih_tiu']-df['mean_selisih_tiu'])**2
df['sd12']=(df['selisih_twk']-df['mean_selisih_twk'])*(df['selisih_tiu']-df['mean_selisih_tiu'])
df['sd21']=(df['selisih_tiu']-df['mean_selisih_tiu'])*(df['selisih_twk']-df['mean_selisih_twk'])
df['sum_sd11']=df['sd11'].sum()/(len(df)-1)
df['sum_sd22']=df['sd22'].sum()/(len(df)-1)
df['sum_sd12']=df['sd12'].sum()/(len(df)-1)
df['sum_sd21']=df['sd21'].sum()/(len(df)-1)

df

,NO,MANUAL_TWK,MANUAL_TIU,CAT_TWK,CAT_TIU,selisih_twk,selisih_tiu,mean_selisih_twk,mean_selisih_tiu,sd11,sd22,sd12,sd21,sum_sd11,sum_sd22,sum_sd12,sum_sd21
0,1,58,84,54,77,4,7,1.2,7.15,7.84,0.0225,-0.42,-0.42,439.852632,364.660526,93.178947,93.178947
1,2,49,60,76,58,-27,2,1.2,7.15,795.24,26.5225,145.23,145.23,439.852632,364.660526,93.178947,93.178947
2,3,83,69,55,58,28,11,1.2,7.15,718.24,14.8225,103.18,103.18,439.852632,364.660526,93.178947,93.178947
3,4,55,60,79,63,-24,-3,1.2,7.15,635.04,103.0225,255.78,255.78,439.852632,364.660526,93.178947,93.178947
4,5,85,89,84,37,1,52,1.2,7.15,0.04,2011.5225,-8.97,-8.97,439.852632,364.660526,93.178947,93.178947
5,6,90,68,60,45,30,23,1.2,7.15,829.44,251.2225,456.48,456.48,439.852632,364.660526,93.178947,93.178947
6,7,42,36,73,60,-31,-24,1.2,7.15,1036.84,970.3225,1003.03,1003.03,439.852632,364.660526,93.178947,93.178947
7,8,85,57,81,56,4,1,1.2,7.15,7.84,37.8225,-17.22,-17.22,439.852632,364.660526,93.178947,93.178947
8,9,80,46,65,80,15,-34,1.2,7.15,190.44,1693.3225,-567.87,-567.87,439.852632,364.660526,93.178947,93.178947
9,10,89,51,54,42,35,9,1.2,7.15,1142.44,3.4225,62.53,62.53,439.852632,364.660526,93.178947,93.178947
10,11,40,65,67,42,-27,23,1.2,7.15,795.24,251.2225,-446.97,-446.97,439.852632,364.660526,93.178947,93.178947
11,12,71,64,51,64,20,0,1.2,7.15,353.44,51.1225,-134.42,-134.42,439.852632,364.660526,93.178947,93.178947
12,13,81,82,56,62,25,20,1.2,7.15,566.44,165.1225,305.83,305.83,439.852632,364.660526,93.178947,93.178947
13,14,40,50,50,41,-10,9,1.2,7.15,125.44,3.4225,-20.72,-20.72,439.852632,364.660526,93.178947,93.178947
14,15,80,77,58,43,22,34,1.2,7.15,432.64,720.9225,558.48,558.48,439.852632,364.660526,93.178947,93.178947
15,16,75,35,82,46,-7,-11,1.2,7.15,67.24,329.4225,148.83,148.83,439.852632,364.660526,93.178947,93.178947
16,17,41,55,61,48,-20,7,1.2,7.15,449.44,0.0225,3.18,3.18,439.852632,364.660526,93.178947,93.178947
17,18,54,61,60,43,-6,18,1.2,7.15,51.84,117.7225,-78.12,-78.12,439.852632,364.660526,93.178947,93.178947
18,19,48,50,45,56,3,-6,1.2,7.15,3.24,172.9225,-23.67,-23.67,439.852632,364.660526,93.178947,93.178947
19,20,69,43,80,38,-11,5,1.2,7.15,148.84,4.6225,26.23,26.23,439.852632,364.660526,93.178947,93.178947

In [52]:
# Create covariance matrix from the variance-covariance components
matrix_sd = np.array([[df['sum_sd11'].iloc[0], df['sum_sd12'].iloc[0]], 
                       [df['sum_sd21'].iloc[0], df['sum_sd22'].iloc[0]]])

print("Covariance Matrix:")
print(matrix_sd)

Covariance Matrix:
[[439.85263158  93.17894737]
 [ 93.17894737 364.66052632]]

In [51]:
# Create mean vector from mean_selisih_twk and mean_selisih_tiu
mean_vector = np.array([df['mean_selisih_twk'].iloc[0], 
                        df['mean_selisih_tiu'].iloc[0]])

print("Mean Vector:")
print(mean_vector)

Mean Vector:
[1.2  7.15]

In [50]:
# Calculate the inverse of the covariance matrix
inverse_matrix_sd = np.linalg.inv(matrix_sd)

print("Inverse of Covariance Matrix:")
print(inverse_matrix_sd)

Inverse of Covariance Matrix:
[[ 0.0024036  -0.00061417]
 [-0.00061417  0.00289921]]

In [49]:
# Calculate the product: mean_vector^T * inverse_matrix_sd * mean_vector
result = mean_vector.T @ inverse_matrix_sd @ mean_vector

print("Result of mean_vector^T * inverse_matrix_sd * mean_vector:")
print(result)

Result of mean_vector^T * inverse_matrix_sd * mean_vector:
0.14113691088601776

In [53]:
result

0.14113691088601776

In [54]:
len(df)

20

In [55]:
T2=result*len(df)
T2

2.8227382177203553

In [58]:
p=2

In [59]:
crictical_f=(len(df)-1)*p*(stats.f.ppf(0.95,p,len(df)-p))/(len(df)-p)
crictical_f

7.504065085285995

# Interval Konfidensi simultan

In [60]:
titik_bawah=df['mean_selisih_twk'].iloc[0] - np.sqrt((crictical_f*matrix_sd[0,0])/len(df))
titik_bawah

-11.64656135956767

In [62]:
titik_atas=df['mean_selisih_twk'].iloc[0] + np.sqrt((crictical_f*matrix_sd[0,0])/len(df))
titik_atas

14.046561359567669

In [63]:
print("interval konfidensi simultan untuk TWK adalah ({} < delta_1 < {})".format(titik_bawah, titik_atas))

interval konfidensi simultan untuk TWK adalah (-11.64656135956767 < delta_1 < 14.046561359567669)

In [65]:
titik_bawah_tiu=df['mean_selisih_tiu'].iloc[0] - np.sqrt((crictical_f*matrix_sd[1,1])/len(df))
titik_bawah_tiu

-4.547085798412207

In [66]:
titik_atas_tiu=df['mean_selisih_tiu'].iloc[0] + np.sqrt((crictical_f*matrix_sd[1,1])/len(df))
titik_atas_tiu

18.84708579841221

In [68]:
print("interval konfidensi simultan untuk selisih TIU adalah ({} < delta_2 < {})".format(titik_bawah_tiu, titik_atas_tiu))

interval konfidensi simultan untuk selisih TIU adalah (-4.547085798412207 < delta_2 < 18.84708579841221)